{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    <div class = "main-wrapper">
        {{ form_start(registrationForm) }}
            <br>
            {{ form_row(registrationForm.username, {
                label: 'Nom d\'utilisateur'
            }) }}
            <br>
            {{ form_row(registrationForm.plainPassword.first, {
                label: 'Mot de passe'
            }) }}
            <br>
            {{ form_row(registrationForm.plainPassword.second, {
                label: 'Confirmer mot de passe'
            }) }}
            <br>
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        <br>
        <a href="{{ path('article_index') }}"><i class="fas fa-backward"></i>Retour</a>
    </div>
{% endblock %}
